<table>
    <tr style='text-align: left'>
    <th>Url</th>
    <th>RepositoryUrl</th>
    <th>User</th>
    <th>Milestone</th>
    <th>List of Reports</th>
    </tr>
    {{range .Items}}
    <tr>
    <td><a href='{{.Url}}'>{{.Url}}</a></td>
    <td><a href='{{.RepositoryUrl}}'>{{.RepositoryUrl}}</a></td>
    <td><a href='{{.User.HTMLURL}}'>{{.User.Login}}</a></td>
    <td><a href='{{.Milestone}}'></a>{{.Milestone}}</td>
    
    <td>
        {{range .Labels}}
        <a href='{{.URL}}'>{{.Name}}</a><br>
        {{end}}
    </td>
    </tr>
    {{end}}
</table>
